*.DS_Store

*.mode1v3

*.pbxuser

build

*.perspectivev3

*.xcuserstate
etPanKit.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/etPanKit.xcscheme

etPanKit.xcodeproj/xcuserdata/localadmin.xcuserdatad/xcschemes/xcschememanagement.plist
